In [1]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
features = pd.read_csv('Dataset/features.csv')
targets = pd.read_csv('Dataset/targets.csv')

In [3]:
features.head()

   A15    A14 A13 A12  A11 A10 A9    A8 A7 A6 A5 A4     A3     A2 A1
0    0  202.0   g   f    1   t  t  1.25  v  w  g  u  0.000  30.83  b
1  560   43.0   g   f    6   t  t  3.04  h  q  g  u  4.460  58.67  a
2  824  280.0   g   f    0   f  t  1.50  h  q  g  u  0.500  24.50  a
3    3  100.0   g   t    5   t  t  3.75  v  w  g  u  1.540  27.83  b
4    0  120.0   s   f    0   f  t  1.71  v  w  g  u  5.625  20.17  b

In [4]:
targets.head()

  A16
0   +
1   +
2   +
3   +
4   +

In [5]:
# Initilize label Encoder
encoder = LabelEncoder()

In [7]:
# For an array
encoded_targets = encoder.fit_transform(targets)

# For a matrix

# Just to initilize
# Initialize the encoded features DataFrame
encoded_features = features.copy()

# Encode each column in the features DataFrame
for col in features.columns:
    encoded_features[col] = encoder.fit_transform(features[col])

C:\Users\devas\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)